.-pad {
  padding: 0;
}
.element-title {
  text-transform: uppercase;
}
.card-title {
  color: dodgerblue;
}
.card-title:hover {
  cursor: pointer;
}
.center-elements {
  text-align: -webkit-center;
}

.contact-name {
  margin-top: 10px;
}

.element-title, .contact-company, .phone-key {
  color: gray;
}

.contact-fav-ico {
  margin-right: 3px;
  float: right;
}

@media (max-width: 700px){
  .contact-img {
    width: 170px;
    height: 170px;
  }
  .contact-name {
    font-size: x-large;
  }
}
