<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <span class="card-title" (click)="backClicked()"> < Contacts </span>
        <img src="assets/img/starTrue.png" alt="" class="float-right">
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-12 center-elements">
        <img src="{{contact.largeImageURL}}" onerror="this.src='assets/img/userDetail.png'" alt="fav" class="align-middle contact-img">
      </div>
      <div class="col-md-12 center-elements">
        <h1 class="card-text contact-name align-middle">{{contact.name}}</h1>
      </div>
      <div class="col-md-12 center-elements">
        <p class="card-text contact-company align-middle">{{contact.companyName}}</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12" *ngFor="let phone of contact.phone | keyvalue">
        <div class="row" *ngIf="phone.value != ''">
          <div class="col-md-12">
            <p class="element-title">
              Phone
            </p>
          </div>
          <div class="col-md-12">
            <span class="float-left bold">
              {{phone.value | phone}}
            </span>
            <span class="float-right phone-key">
              {{phone.key | titlecase}}
            </span>
          </div>
        </div>
        <hr *ngIf="phone.value != ''">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <span class="element-title">
          Address
        </span>
      </div>
      <div class="col-md-12">
        <span class="bold">
          {{contact.address.street}}
        </span>
      </div>
      <div class="col-md-12">
        <span class="bold">
            {{contact.address.city + ", " + contact.address.zipCode + ", " + contact.address.country}}
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <span class="element-title">
          Birthdate
        </span>
      </div>
      <div class="col-md-12">
        <span class="bold">
          {{contact.birthdate | date}}
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <span class="element-title">
          Email
        </span>
      </div>
      <div class="col-md-12">
        <span class="bold">
          {{contact.emailAddress}}
        </span>
      </div>
    </div>

  </div>

</div>
