.center {
  text-align: center;
}

.card-body {
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  width: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
span {
  color: black;
}

.bold {
  font-weight: bold;
}
.contact-name {
  font-size: x-large;
}
.contact-company {
  color: grey;
}

.list-title {
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.grid-item {
  text-align: left;
}
.item1 {
  text-align: right;
  padding-right: 3px;
  margin-left: 2px;
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 1;
}

.item3 {
  grid-column: 2 / 3;
  grid-row: 2;
}

@media (max-width: 700px){
  .contact-name {
    font-size: larger;
  }
}
