
<div class="card">
  <div class="card-header center bold">Contacts</div>
  <div class="card-body">

    <p class="card-header list-title">Favorite Contacts</p>
    <ul class="list-group">
      <li class="list-group-item center" *ngFor="let contact of getFavs()">
        <a [routerLink]="['/contact', contact.id]">

          <div class="row">
            <div class="col-4">
              <img src="{{ contact.smallImageURL }}" alt="" height="120px" width="120px" class="float-left">
            </div>

            <div class="col-8">
              <div class="grid-container">
                <div class="grid-item item1">
                  <img src="assets/img/starTrue.png" onerror="this.src='assets/img/userLarge.png'" alt="fav" class="contact-fav-ico">
                </div>
                <div class="grid-item item2">
                  <span class="contact-name">
                    {{contact.name}}
                  </span>
                </div>
                <div class="grid-item item3">
                  <span class="contact-company">
                    {{contact.companyName}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <p class="card-header list-title">Other Contacts</p>
    <ul class="list-group">
      <li class="list-group-item center" *ngFor="let contact of getOther()">
          <a [routerLink]="['/contact', contact.id]">

            <div class="row">
              <div class="col-4">
                <img src="{{ contact.smallImageURL }}" onerror="this.src='assets/img/userLarge.png'" alt="" height="120px" width="120px" class="float-left">
              </div>

              <div class="col-8">
                <div class="grid-container">
                  <div class="grid-item item1">
                  </div>
                  <div class="grid-item item2">
                    <span class="contact-name">
                      {{contact.name}}
                    </span>
                  </div>
                  <div class="grid-item item3">
                    <span class="contact-company">
                      {{contact.companyName}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
      </li>
    </ul>
  </div>
</div>


