/* You can add global styles to this file, and also import other style files */

.main-container{
  margin-top: 10px;
  max-width: 1024px;
  min-width: 320px;
}
.bold {
  font-weight: bold;
}
.card-header {
  padding-top: 24px;
}
